*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url('./fonts/Poppins-Light.ttf')
}

@font-face {
  font-family: PopReg;
  src: url('./fonts/Poppins-Regular.ttf')
}

body {
  font-family: PopLight;
}

#portfolio {
  color: white;
  background: radial-gradient(rgba(43,55,96,1), rgba(11,16,35,1));
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 10vh;
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

#logo {
  font-size: 22px
}

.page {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  min-height: 90vh;
}

.about,
.reel {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.hero {
  display: flex;  /*  gets rid of gap between imgs */
  align-self: center;
  justify-self: center;
  height: 500px;
  overflow: hidden;
}
.hero a {
  display: flex; /* removes seperation created by a tag */
}

.hero img {
  height: 500px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                               Image transform                              */
/* -------------------------------------------------------------------------- */

.model-left {
  transform: translate(0%, -10%)
}

.model-right {
  transform: translate(0%, 10%)
}

.hero:hover .model-left {
  transform: translate(0%, 0%);
}

.hero:hover .model-right {
  transform: translate(0%, 0%);
}

.details {
  grid-column: 2/3;
  align-self: end;
  /* display: flex; */
}

.details h1 {
  font-size: 64px;
  font-family: PopReg;
  line-height: 1;
}

.details h2 {
  font-size: 42px;
  padding: 20px 0px;
}

/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.pages > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages h3 {
  font-size: 24px;
  padding: 30px;
}

.pages svg {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(2);
}

.pages svg:hover {
  animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
  opacity: 1;
}

@keyframes dot {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(4);
  }
}

/* -------------------------------------------------------------------------- */
/*                                About Styles                                */
/* -------------------------------------------------------------------------- */

#banner {
  height: 50vh;
  width: 100%;
  position: relative;
}

#banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.author {
  position: absolute;
  color: white;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.author h1 {
  font-size: 42px;
}

.author h3 {
  font-size: 32px;
  padding: 10px 0;
}

.story, 
.my-work {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
}

.story-description,
.work-description {
  width: 50%;
}

.story-description h3,
.work-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
}

.story-description p,
.work-description p {
  font-size: 20px;
  padding: 20px 0;
}

#work-gallery {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  align-content: end;
}

#work-gallery img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }

  .hero {
    height: auto;
    grid-column: 2/3;
  }

  .hero img {
    height: 425px;
  }

  .details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    
  }

  .details h1 {
    font-size: 48px;
  }

  .details h1 {
    font-size: 38px;
  }

  .story, .my-work {
    flex-direction: column;
  }

  .story-description,
  .work-description {
    width: 100%;
  }

  #work-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(300px, 1fr));
    justify-content: center;
  }

  .profile {
    padding-top: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-rows: 1fr 1fr;
  }

  .hero img {
    height: 300px;
  }

  .details h1 {
    font-size: 38px;
  }

  .details h2 {
    font-size: 28px;
  }
}

.nav-open {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  justify-items: center;
  align-items: center;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  background: white;
  z-index: 1;
  color: black;
  text-align: center;
  transform: translateY(-100%);
}

.nav-open h3 {
  font-size: 28px;
  padding-bottom: 40px;
}

.nav-open a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.contact {
  grid-column: 2/3;
}

#social-links img {
  padding: 0px 10px;
}

#logo,
.menu {
  z-index: 99;
  cursor: pointer;
}