:root {
  --vertical-padding: 1.2rem 0;
  --horizontal-padding: 0 1.2rem;
  --base-padding: 3rem;
  --width: 1600px;
  --grid-gap: 2rem;
  font-size: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url('./fonts/Poppins-Light.ttf')
}

@font-face {
  font-family: PopReg;
  src: url('./fonts/Poppins-Regular.ttf')
}

body {
  font-family: PopLight;
}

#portfolio {
  color: white;
  background: radial-gradient(rgba(43,55,96,1), rgba(11,16,35,1));
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 10vh;
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

#logo {
  font-size: 22px
}

.page {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  min-height: 90vh;
}

.about,
.reel {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.hero {
  display: flex;  /*  gets rid of gap between imgs */
  align-self: center;
  justify-self: center;
  height: 500px;
  overflow: hidden;
}
.hero a {
  display: flex; /* removes seperation created by a tag */
}

.hero img {
  height: 500px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                               Image transform                              */
/* -------------------------------------------------------------------------- */

.model-left {
  transform: translate(0%, -10%)
}

.model-right {
  transform: translate(0%, 10%)
}

.hero:hover .model-left {
  transform: translate(0%, 0%);
}

.hero:hover .model-right {
  transform: translate(0%, 0%);
}

.details {
  grid-column: 2/3;
  align-self: end;
}

.details h1 {
  font-size: 64px;
  font-family: PopReg;
  line-height: 1;
}

.details h2 {
  font-size: 42px;
  padding: 20px 0px;
}

/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.pages > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages h3 {
  font-size: 24px;
  padding: 30px;
}

.pages svg {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(2);
}

.pages svg:hover {
  animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
  opacity: 1;
}

@keyframes dot {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(4);
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Navigation                                 */
/* -------------------------------------------------------------------------- */

nav a {
  text-decoration: none;
}

.nav-open {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  justify-items: center;
  align-items: center;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  background: white;
  z-index: 1;
  color: black;
  text-align: center;
  transform: translateY(-100%);
}

.nav-open h3 {
  font-size: 1.75rem;
  padding-bottom: 40px;
}

.nav-open a {
  text-decoration: none;
  color: inherit;
  font-size: 1.125rem;
}

.contact {
  grid-column: 2/3;
}

#social-links {
  display: flex;
  cursor: pointer;
}

#social-links img {
  padding: 0px 10px;

}

#logo,
.menu {
  z-index: 99;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                Car Page Styles                                */
/* -------------------------------------------------------------------------- */

.grid-left {
  display: grid; 
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}

.car-history_wrapper {
  background: black;
}

.car-history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: var(--grid-gap);
  align-items: center;

  padding: var(--base-padding);
  margin: auto;
  color: white;
  max-width: var(--width);
}

.car-year {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: end;
  
  font-size: 2rem;
  font-weight: 800;
  writing-mode: vertical-rl;
  color: white;
  margin-top: 1em;
  z-index: 99;
}

.grid-img {
  width: 100%;
}

.car-history_img {
  grid-column: 2 / span 5;
  grid-row: 1 / span 2;
  align-self: center;
}

.overlay {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  align-self: end;
}

.car-bio p,
.racing-description p {
  font-size: 1.2rem;
  padding: var(--vertical-padding);
}

.car-bio__heading,
.racing-description_heading {
  font-size: 2.3rem;
  padding-bottom: 30px;
}

.racing-history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--grid-gap);
  justify-content: center;
  max-width: var(--width);

  padding: var(--base-padding);
  margin: auto;
  width: 100%;
}

.racing-history_img {
  align-self: center;
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */


@media screen and (max-width: 1234px ) {
  .car-history {
    grid-gap: 4rem;
  }

  .grid-left {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content 1fr 1fr max-content;
    grid-gap: var(--grid-gap);
    align-self: center;
  }

  .car-year {
    grid-column: 1;
    grid-row: 2/ span 2;
    align-self: center;
  }

  .car-history_img {
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  .overlay {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }

  .hero {
    height: auto;
    grid-column: 2;
  }

  .hero img {
    height: 425px;
  }

  .details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }

  .details h1 {
    font-size: 2.375rem;
  }

  .car-history {
    display: block;
  }

  .grid-left {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;

  }

  .car-year {
    grid-row: 1;
    writing-mode: horizontal-tb;
    font-size: 1.5rem;
    justify-self: center;
    margin: 0;
  }

  .car-history_img {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }

  .overlay,
  .car-bio {
    grid-column: 1;
  }

  .overlay {
    grid-row: 3;
  }

  .car-bio {
    grid-row: 1;
    padding-top: 3rem;
  }

  .racing-history {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 2.4rem;
  }

  .car-bio p,
  .racing-description p {
    font-size: 1rem;
  }

  .profile {
    padding-top: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-rows: 1fr;
  }

  .page-1 h3 {
    font-size:  1.125rem;
    padding-right: 20px;
  }

  .hero img {
    height: 300px;
    width: auto;
  }

  .details h2 {
    font-size: 2.350rem;
  }
}

/* -------------------- Narrow Mobile Screens (Galaxy s9) ------------------- */

@media screen and (max-width: 375px) {
  .page-1 h3 {
    font-size: 1rem;
    padding-right: 10px;
  }

  .slide {
    width: 7px;
  }
}